<%- include("partials/header") -%>

<!-- Title -->
<div class="container col-4 col-lg-2 col-md-3 col-sm-3 mt-3 mb-3 mx-auto">
  <a href="/" role="button"><img src="/assets/img/logo/logo-1024x512.png" class="img-fluid" alt="가는중!"></a>
</div>

<!-- profile Image and username -->
<div class="container text-center">
  <img src="<%= bodyUserProfile %>" class="rounded-circle" alt="profile" width="110" height="110">
</div>
<div class="col-8 col-lg-3 col-md-6 col-sm-6 mt-4 mb-4 mx-auto text-center fs-2 omw-font-bold">
  <%= bodyUserNickname %>
</div>

<div class="col-8 col-lg-3 col-md-6 col-sm-6 mb-4 mx-auto text-center omw-font-light-color">
  가는중!과&nbsp;카카오계정의&nbsp;연결을 끊고,<br>회원정보를&nbsp;삭제하시겠습니까?
</div>

<div class="d-grid gap-2 col-6 col-lg-2 col-md-3 col-sm-4 mt-4 mb-3 mx-auto text-center">
  <form action="/unlink/<%= bodyUsername %>" method="post">
    <button class="btn btn-secondary omw-font-light mt-3 mb-3" type="submit">회원탈퇴</button>
  </form>
</div>



<%- include("partials/footer") -%>
